/* Orbitz Responsive Build */

/*
    CSS Guide

    1.  General Styles

    Mobile
    2. Main Nav
    3. Hero Section
    4. Flavour Info
    5. Health & Ingredients
    6. Our Story
    7. Customer Reviews
    8. Contact Us
    9. Contact Form
    10. Footer

    Tablet
    t1. Main Nav
    t2. Contact Us
    t3. Contact Form

    Desktop
    d1. Hero Section
    d2. Flavour Info
    d3. Reviews
    d4. Contact Us
    d5. Footer

 */


 /* 1. --- General Styles --- */

@import url("https://p.typekit.net/p.css?s=1&k=hnb1odn&ht=tk&f=37516.37522.37524.37526&a=167776030&app=typekit&e=css");

body {
   color: #0B1E6E;
   font-family: 'poppins', sans-serif;
   font-weight: 400;
   font-style: normal;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

/* 2. --- START Main Nav --- */

#main-nav button {
   width: 28px;
   height: 28px;
   background: url(../images/hamburger_menu.svg) no-repeat center;
   transition: all .5s ease;
   border: 0;
   cursor: pointer;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

#main-nav { 
  grid-template-columns: repeat(4, 1fr); 
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #D1D161;
  padding: 15px;
  position: relative;
  z-index: 2;
}

#burger-con {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #D1D161;
  z-index: 1;
}

#burger-con.slide-toggle {
   display: block;
}

#main-nav ul li a:hover {
   color: #0B1E6E;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #0B1E6E;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}

#logo img {
  grid-column: 1 / 2;
  display: flex;
  justify-self: center;
  align-items: center;
}

#header-icons {
  grid-column: 4 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

#header-icons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* --- END Main Nav --- */

/* --- 3. START Hero Section --- */

.hero-image-con {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-main {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 5%;
  white-space: nowrap;
  color: #0B1E6E;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.shop-now-btn {
  position: absolute;
  top: 80%;
  background: #FDB52A;
  color: #fff;
  font-weight: bolder;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.shop-now-btn:hover {
  background: #0B1E6E;
}

/* --- END Hero Section --- */

/* --- 4. START Flavour Info --- */

.wavy-line-hero {
    width: 100%;
    max-width: 100%;
    margin: 25px 0;
}

.wavy-line-hero svg {
    width: 100%;
    height: auto;
    display: block;
}

.circle-wrapper {
  grid-column: span 1;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.circle-wrapper img {
  width: 200px;
  height: auto;
  object-fit: contain;
  display: block;
}

.circle-blue {
  background: #76B3D0;
}

.circle-green {
  background: #D1D161;
}

.circle-pink {
  background: #FEBAED;
}

.flavour-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
  justify-content: center;
}

.hide-mobile {
  display: none;
}

.shop-info-con {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-more-btn {
  background: #FDB52A;
  color: #fff;
  font-weight: bolder;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.shop-more-btn:hover {
  background: #0B1E6E;
}

/* --- END Flavour Info */

/* --- 5. START Health & Ingredients --- */

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.ingredients-section {
  max-width: 900px;
  margin: auto;
  padding: 32px;
  font-style: bold;
  color: #001D7E;
}

.ingredients-section h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.ingredients-section p {
  text-align: center;
}

.ingredients-section span {
  text-transform: uppercase;
}

.drop-down-item {
  border-top: 1px solid #001D7E;
  padding: 16px 0;
}

.drop-down-item summary {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  cursor: pointer;
  gap: 16px;
}

.drop-down-item img {
  width: 50px;
  height: 50px;
}

.drop-down-item span {
  font-weight: bold;
}

.drop-down-item p {
  padding: 16px 0 0 56px;
}

.drop-down-item .arrow {
  justify-self: end;
  width: 30px;
  height: auto;
}

.drop-down-item p {
  display: none;
}

.drop-down-item[open] p {
  display: block;
}

/* --- END Health & Ingredients --- */

/* ---6. START Our Story --- */

.our-story h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.our-story p {
  margin: 30px;
}

.our-story br {
  display: block;
  margin-bottom: 20px;
}

/* --- END Our Story --- */

/* --- 7. START Reviews --- */

.circle-quote {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 30px 0;
}
.circle-quote img {
  width: 120px;
  height: 120px;
}

.circle-quote-right {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.circle-quote-right img {
  width: 120px;
  height: 120px;
  transform: scaleX(-1);
}

.quote-text p {
  font-size: 16px;
}

.wavy-line-reviews {
    width: 100%;
    max-width: 100%;
}

.wavy-line-reviews svg {
    width: 100%;
    display: block;
    transform: scaleX(-1);
}

.reviews {
  width: 100%;
  margin: 0 auto;
}

/* --- END Reviews --- */

/* --- 8. START Contact Us --- */

#contact-image-con {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

#contact-image-con img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.contact-heading h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}

.wavy-line-con {
    width: 100%;
    max-width: 100%;
}

.wavy-line-con img {
    width: 100%;
    height: auto;
    display: block;
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contact-method {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-method img {
  width: 60px;
  height: auto;
  margin-bottom: 8px;
}

.contact-method h3 {
  margin-top: 8px;
  margin-bottom: 0px;
}

.contact-method p {
  margin-top: 0px;
  margin-bottom: 40px;
}

/* --- END Contact Us --- */

/* --- 9. START Contact Form --- */

.contact-section {
  background-color: #78bdd5;
  padding: 32px 16px;
}

.contact-section h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}

.contact-section p {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-bottom: 32px;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact-form input[type="text"],
#contact-form textarea {
  background-color: #f5f5f5;
  border: 5px solid #fbbc04;
  border-radius: 15px;
  outline: none;
  padding: 16px;
  font-size: 16px;
  color: #1a237e;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

#contact-form input[type="submit"] {
  background-color: #05216b;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.3s ease;
}

#contact-form input[type="submit"]:hover {
  background-color: #FDB52A;
}

/* --- END Contact Form --- */

/* --- 10. START Footer --- */

#footer-hero {
  background-color: #d3d25a;
  padding: 40px 20px;
  margin-top: 40px;
  color: #081262;
  font: inherit;
}

.grid-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#footer-nav h2 {
  font-weight: bold;
  margin-top: 8px;
}

#footer-nav ul {
  list-style: none;
  padding: 0;
}

#footer-nav a {
  text-decoration: none;
  color: #081262;
  display: block;
  margin-bottom: 10px;
}

#social-icons img {
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 20px;
  align-items: center;
}

#email-signup {
  display: none;
}

#footer-privacy {
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* --- END Footer --- */

/* Start of Tablet */

@media screen and (min-width: 768px) {

  /* --- t1. START Main Nav */

  #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #D1D161;
      z-index: 1;
   }

   #main-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
   }

   #main-nav ul li a {
      display: inline;
   }

   #button {
      display: none;
   }

   #logo {
      grid-column: 1 / span 3;
      order: -1;
      margin-top: 15px;
      max-width: 200px;
   }

   #burger-con {
    grid-column: 4 / span 7;
    display: block;
    top: 45%;
   }

  #burger-con ul {
    display: flex;
    padding: 0;
   }

  #burger-con ul li {
   list-style: none;
   padding-right: 10px;
   margin: 0px auto;
   }

   #burger-con ul li:last-child {
    padding-right: 0;
   }

  #burger-con ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #0B1E6E;
   }

  #header-icons {
    grid-column: 11 / span 1;
  }

  /* --- END Main Nav --- */

  /* --- t2. START Flavours --- */

 .flavour-grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .circle-wrapper {
    grid-column: span 3;
  }

  .circle-orange {
    background-color: #FF6C1F;
  }

  .hide-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* --- END Flavours --- */

  /* --- t3. START Health & Ingredients --- */

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .ingredient-item {
    margin-bottom: 24px;
  }

  .ingredient-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ingredient-item span {
    text-transform: uppercase;
    font-size: 20px;
  }

  .arrow {
    display: none; 
  }

  /* --- END Health & Ingredients --- */

  /* --- t4. START of Contact Us --- */

  .contact-heading h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
  }

  .wavy-line-con {
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
      max-width: 100vw;
  }

  .wavy-line-con img {
      width: 100%;
      height: auto;
      display: block;
  }

 /* --- END of Contact Us --- */ 
 
 /* --- t4. START of Contact Form --- */

 .contact-section {
      border-radius: 10px;
  }

 /* --- END of Contact Form --- */
}

/* End of Tablet */

/* Start of Desktop */

@media screen and (min-width: 1200px) {
  
  /* --- d1. START Hero Section --- */

  .overlay-text {
    font-size: 52px;
  }

  .shop-now-btn {
    top: 85%;
    padding: 18px 32px;
    font-size: 24px;
  }

  /* --- END Hero Section --- */

  /* --- d2. START Flavour Info --- */

  .learn-more-btn {
    top: 92%;
    padding: 10px 28px;
    font-size: 24px;
  }

    .circle-wrapper {
    width: 250px;
    height: 250px;
    margin: 120px 0;
  }

  .circle-wrapper img {
    width: 400px;
    height: auto;
  }

  .shop-more-btn {
    padding: 10px 28px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  /* --- END Flavour Info --- */

  /* --- d3. START Reviews --- */

  .circle-quote img {
    width: 180px;
    height: 180px;
  }

  .circle-quote-right img {
    width: 180px;
    height: 180px;
  }

  /* --- END Reviews --- */

  /* --- d4. START Contact Us --- */

  .contact-heading h3 {
    font-size: 50px;
  }

  .contact-method img {
    width: 100px;
    height: auto;
    margin-bottom: 8px;
  }

  .contact-method h3 {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 28px;
  }

  .contact-method p {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 18px;
  }

  /* --- END Contact Us --- */
   
  /* --- d5. Footer --- */

   #email-signup {
    display: block;
   }

   #email-signup h3 {
    font-size: 24px;
   }

   #email-signup input[type="email"] {
      background-color: #f5f5f5;
      border: 5px solid #FEBAED;
      border-radius: 15px;
      outline: none;
      padding: 16px;
      font-size: 16px;
      color: #1a237e;
      font-family: inherit;
      width: 100%;
      box-sizing: border-box;
    }

   #email-signup input[type="submit"] {
      background-color: #05216b;
      color: white;
      font-weight: bold;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      margin-top: 10px;
      transition: all 0.3s ease;
    }

    #email-signup input[type="submit"]:hover {
      background-color: #FDB52A;
    }

   /* d. --- END Footer --- */
  }

/* End of Desktop */